body {
	background: #383276;
}
.container {
	background: #1F1959;
	width: 400px;
	height: 800px;
	position: relative;
	margin: 0 auto;
}
.btn-group-justified {
	padding-top: 20px;
}

.search {
	box-sizing: border-box;
	position: relative;
	padding: 5px 0px 5px;
}
.search #magGlass {
  position: absolute;
  padding: 10px;
  cursor: pointer;
}
.list {
	box-sizing: border-box;
}
ul {
	box-sizing: border-box;
	height: 600px;
	background: #5a5494;
	list-style-type: none;
	margin:0;
	padding:0;

}
ul li {
	border: 1px solid black;
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 15px;
	color: white;
	line-height: 35px;


}

input[type=text] {
    font-family: Roboto;
    margin:0;
    padding-left:10%;
    display:inline-block;
}

i {
	color: #837EB1;
	width: 10%;
	margin: 0;
	display:inline-block;
	text-align: center;
}
